@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 47, 47, 47;
  --background-rgb: 237, 237, 237;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
